@import "reset.css";

body {
	background-color: #c6cbc8;
}

 .students {
        margin-top: 80px;
      }
      .student-list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .student-list {
        overflow: hidden; /* for float? */
      }
      .student {
        min-width: 320px;
        float: left;
        margin-bottom: 50px; /* ? */
        margin-right: 20px;
      }

      #sheriffderek {
        border: 1px solid lightgray;
        padding: 10px;
      }