@import "reset.css";
/* setup.css */
/* page.css */
@import "css/sheriffderek.css";
@import "css/hodd.css";
@import "css/savannah.css";
@import "css/bdlowery.css";
@import "css/scott06.css";

/* move this to "page.css" */

body * {
  border: 2px solid blue;
}

body {
  padding: 40px;
  background-color: floralwhite;
}

.students {
  margin-top: 80px;
}
.student-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.student-list {
  overflow: hidden; /* for float? */
}
.student {
  min-width: 320px;
  float: left;
  margin-bottom: 50px; /* ? */
  margin-right: 20px;
}
